.container {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.withPadding {
  padding-right: 20px;
  padding-left: 20px;
}


.mid-section {
  padding-right: 0;
  padding-left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.border {
  border: 1px solid #dee2e6 !important;
}

.hcontain {
  color: white;
  text-align: left;
}

.jumbotron {
  padding: 2rem 20px;
  margin-bottom: 2rem;
}

@media (min-width: 600px) {
  .jumbotron {
    padding: 0rem 20px 3rem 20px;
  }
}

@media (min-width: 992px) {
  .jumbotron {
    padding: 5rem 20px 7rem 20px;
  }
}

#first-section{
  padding-left: 3rem; 
}

.num {
  border-radius: 50%;
  width: 1.1em;
  height: 1.1em;
  padding: 0.25em;
  background: black;
  border: 0.1em solid black;
  color: white;
  text-align: center;
  font: 2em;
}

/* @media (min-width: 576px) {
  .jumbotron {
    padding: 5rem 0rem 10rem 0rem;
  }
} */

.col-sm-offset-half{
  margin-left: 8.3333333333333333333%
}

.App-link {
  color: #61dafb;
}

#button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 8px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }


}
